<div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
	<div> <strong class="d-block my-3 fs-5 fw-light"> Vous n'avez pas de compte ?</strong> <a href="/user/register" class="btn btn-outline-primary"> Creer votre compte maintenant  </a> </div>
</div>